{{> header }}

<section class="section">

    <body>
        <div class="main">
            <div class="col-md-8">
                <article class="blog-post">
                    <div class="subtitle is-6"> {{ page.frontmatter.date }}, by {{ page.frontmatter.author }}</div>
                    <h1 class="title">{{ page.frontmatter.title }}</h1>
                    {{{ page.body }}}
                </article>
            </div>
        </div>
    </body>

</section>

{{> footer }}
