{{> header }}

<body>

    <div class="main">
        <div class="col-md-8">
            <article class="blog-post">
                {{ #with page.frontmatter }}
                <h1 class="blog-post-title border-bottom">{{ title }}</h2>
                    <p class="blog-post-meta">{{date}} by {{ author }}</p>
                    {{/with}}
                    {{{ page.body }}}
            </article>
        </div>
    </div>
    <script>
    // alert("ugh");
    hljs.highlightAll();
</script>

</body>

{{> footer }}

