{{> header }}

<section class="section">

    <body>
        <div class="main">
            <div class="col-md-8">
                <article class="blog-post">
                    {{ #with page.frontmatter }}
                    <div class="subtitle is-6"> {{ date }}, by {{ author }}</div>
                    <h1 class="title">{{ title }}</h1>
                    {{/with}}
                    {{{ page.body }}}
                </article>
            </div>
        </div>
    </body>

</section>

{{> footer }}
